doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title SchraubenhandelAS 
        link(rel="stylesheet", href="../includes/css/main.css")
    body 

    //- C:\Users\andye\Documents\GitHub\Dashboard-Schrauben\APP\public\includes\css\main.css