extends ../templates/layout.pug


block body
    img.imlogo(src="../includes/bilder/eigenes_logo.png", alt="Logo")
    h3 Schrauben Andy 
      p  Hauptstaße 523
      p  83725 Langenstadt 
      p
      p  Inh. Andy
