extends ../templates/layout.pug

block body
    div.kartendiv
        div.dashdiv
            h1 Die 3 meistverkaufen Schrauben
            canvas#myChart
            script(src="https://cdn.jsdelivr.net/npm/chart.js")
            script(src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns")
            script(src="../includes//script/chart.js") 
            
            script.
                const daten = JSON.parse(JSON.stringify(!{daten}));
                createChart('myChart', daten);


        div.dashdiv
            h1 Beste Verkaufsmenge der Hersteller
            canvas#topHerstellerLineChart
            script(src="https://cdn.jsdelivr.net/npm/chart.js")
            script(src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns")
            script(src="../includes/script/lineChart.js")
            script.
                const topHersteller = !{topHersteller};
                createLineChart('topHerstellerLineChart', topHersteller);
        div.dashdiv
            
            h1 Bester Verkaufstag der Hersteller
            canvas#topHersteller
            script(src="https://cdn.jsdelivr.net/npm/chart.js")
            script(src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns")
            script(src="../includes/script/pieChart.js")
            script.
                document.addEventListener('DOMContentLoaded', (event) => {
                    const verkaufMaxTagProFirma = !{verkaufMaxTagProFirma};
                    createPieChart('topHersteller', verkaufMaxTagProFirma);
                });

                




