nav.navbar
    ul.navbar-list
        li.navbar-item
            a(href='/')
                img.navlogo(src="../includes/bilder/eigenes_logo.png", alt="Firmen Logo") 
        li.navbar-item
            a(href='/wuerth')
                img.navlogo(src="../includes/bilder/wuerth_logo.png", alt="Würth Logo") 
        li.navbar-item
            a(href='/heco')
                img.navlogo(src="../includes/bilder/heco-logo.png", alt="HECO Logo") 
        li.navbar-item
            a(href='/swg')
                img.navlogo(src="../includes/bilder/swg_logo.png", alt="SWG Logo") 
