extends ../templates/layout.pug


block body

    h1 Wuerth Daten
    canvas#myChart
    script(src="https://cdn.jsdelivr.net/npm/chart.js")
    script(src="../includes/script/chart.js")
    script.
        const daten = !{daten};
        createChart('myChart', daten);
